* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #2b2d31;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav {
    position: fixed;
    display: flex;
    background-color: #1e1f22;
    height: 40px;
    width: 100%;
    align-items: center;
    z-index: 1;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
}

.nav-link li {
    height: 100%;
}

.nav-link button {
    display: flex;
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100%;
    align-items: center;
    padding: 0 2vh;
}

.nav-link button:hover {
    cursor: pointer;
    background-color: #0c0c0c;
}

#main {
    top: 40px;
    display: block;
    position: relative;
    height: calc(100vh - 40px);
    /* Subtracting the height of the nav bar */
    width: 100%;
}

#inventory {
    display: flex;
    position: absolute;
    width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

#inventory-containers {
    display: block;
    position: absolute;
    top: 63px;
    left: 27px;
}

#inventory-texture {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* Center horizontally if needed */
    justify-content: flex-start;
    /* Aligns embeds to the top */
    width: 100%;
    gap: 0;
    /* Ensures no gap between the embeds */
    overflow: visible;
    background-color: #0000001c;
}

#inventory-texture embed {
    width: 100%;
    flex-shrink: 0;
    /* Prevent shrinking of the embeds */
    display: block;
    /* Ensure each embed is treated as a block-level element */
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 25px;
    width: 0px;
}

.sidebar .container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #313338;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    border: 2px solid #474747;
}

.left-sidebar {
    top: 30px;
    left: 30px;
}

.right-sidebar {
    top: 30px;
    right: 320px;
    display: none;
}

.sidebar label {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.sidebar input,
.sidebar textarea {
    background-color: #383a40;
    border: none;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 10px;
    padding: 7px;
}

.error_message {
    display: none;
    background-color: #2b2d31;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 12px;
    width: fit-content;
}

.error_message span {
    color: #cc3333;
}

.error_message::before {
    content: '';
    position: absolute;
    transform: translate(5px, -20px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2b2d31;
    /* Match this to the background color */
}

.sidebar hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #7f8592;
    height: 1px;
    background-color: #7f8592;
    border-radius: 1px;
}

#item_container-search-div {
    margin-top: -10px;
    top: -10px;
    position: sticky;
    margin-bottom: 20px;
}

#item_container-search {
    width: calc(100% - 20px)
}

.sidebar input:invalid+.error_message {
    display: block;
}

.sidebar input[type="number"] {
    width: 150px;
}

.sidebar input:invalid {
    border-color: #cc3333;
}

#lore_input {
    height: 100px;
    resize: none;
}

#input_checkboxes {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#input_checkboxes input {
    margin-top: 0px;
}

#input_checkboxes div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#item_browser {
    resize: both;
    /* Allow both horizontal and vertical resizing */
    overflow: auto;
    height: 40vh;
    min-width: 275px;
    min-height: 150px;
    z-index: 1;
    /* Set a minimum height */
}

#item_browser::-webkit-scrollbar-track {
    background: #313338;
}

#item_browser::-webkit-scrollbar-thumb {
    background-color: hsl(220, 7%, 16%);
    border: 3px solid #313338;
    border-radius: 8px;
}

#item_container {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

#menu_filling_input {
    width: 75px;
    height: 75px;
    outline: 2px solid hsl(223, 7%, 35%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu_filling_input:only-child {
    pointer-events: none;
}

#menu_filling_input .item:hover {
    cursor: pointer;
}

#item_container .item {
    width: 75px;
    height: 75px;
    outline: 2px solid hsl(223, 7%, 35%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item img {
    pointer-events: none;
    background: transparent;
}

.item_slot .item {
    pointer-events: none;
    width: 48px;
    height: 48px;
}

.item_slot {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_slot:has(> .fill) {
    cursor: default;
}

.item_slot img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.item-slot-amount {
    position: absolute;
    display: inline;
    line-height: 0;
    right: -3.2px;
    bottom: 8.7px;
    font-size: 30px;
    font-family: 'Minecraft Regular';
    text-shadow: 3px 3px #3e3e3e;
    text-rendering: geometricPrecision;
    pointer-events: none;
}

#pop-up-error {
    position: absolute;
    top: 20px;
    left: 50%;
    padding: 15px;
    border: 2px solid #cc3333;
    width: fit-content;
    border-radius: 100vh;
    transform: translateY(-20px);
    background-color: #383a40;
    display: block;
    visibility: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease;
    /* No transition on transform initially */
    opacity: 0;
}

#pop-up-error.open {
    visibility: visible;
    transform: translateY(0);
    /* Transform happens instantly */
    transition: opacity 0.2s ease, transform 0.1s ease;
    /* Apply transition on both opacity and transform on open */
    opacity: 1;
}

#pop-up-error.closing {
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
    /* Only transition opacity when closing */
    opacity: 0;
}

#pop-up-error span {
    color: #cc3333;
}

.container-header {
    display: flex;
    align-items: center;
}

.container-header i {
    cursor: pointer;
    margin-left: auto;
    height: 20px;
}

.container-header embed {
    pointer-events: none;
    width: 20px;
}

#tooltip-div {
    display: none;
    position: absolute;
    background-color: rgba(16, 0, 16, 0.97);
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    --size: 3px;
    mask: conic-gradient(at var(--size) var(--size), #000 75%, #0000 0) 0 0/calc(100% - var(--size)) calc(100% - var(--size));
    padding: 6px 10px 6px 10px;
}

#tooltip-div p {
    font-family: 'Minecraft Regular', sans-serif;
    font-size: 24px;
    text-rendering: geometricPrecision;
    text-shadow: 2.5px 2.5px #3e3e3e;
}

#tooltip-div p span {
    font-family: 'Minecraft Regular', sans-serif;
}

#tooltip-div::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: linear-gradient(to bottom, hsl(264, 90%, 30%, 0.5), hsl(264, 90%, 20%, 0.5));
    z-index: -1;
    padding: 3px; /* Creates spacing for the border effect */
    -webkit-mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0); 
    mask: 
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    pointer-events: none; /* So it doesn't interfere with clicking */
}